.socials {
  max-width: 25rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  a {
    width: 100%;
    max-height: 4.25rem;
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    grid-template-columns: 2.75rem 1fr 2rem;
    background: var(--base-gray-300);
    padding: 1.25rem;
    border-radius: 0.5rem;

    span {
      font: var(--text);
      color: var(--base-gray-500);
    }

    .arrow {
      width: 1.25rem;
      height: 1.25rem;
      background-image: url(../assets/ArrowUpRight.png);
      background-size: cover;

      justify-self: end;
    }
  }

  a:hover {
    outline: 1px solid var(--color-blue);
    span {
      color: var(--main-color-blue);
    }

    .arrow {
      background-image: url(../assets/ArrowUpRight.png);
    }

    svg path {
      fill: var(--color-blue);
    }
  }
}