* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*Cores Principais*/
  --red-color: #E3646E;
  --purple-color: #BB72E9;
  --blue-color: #3996DB;
  --green-color: #82BC4F;
  --yellow-color: #EABD5F;

  /*Base*/
  --gray-100: #E2E4E9;
  --gray-200: #C0C4CE;
  --gray-300: #878EA1;
  --gray-400: #292C34;
  --gray-500: #16181D;
  --gray-600: #0D0E11;

  /*Fontes*/
  --font-title: "Asap", sans-serif;
  --font-subtitle: "Inconsolata", monospace;
  --font-text: "Maven Pro", sans-serif;

  --title-lg: bold 56px/120% var(--font-title);
  --title-md: bold 24px/120% var(--font-title);
  --title-lg: bold 16px/120% var(--font-title);

  --subtitle: 20px/120% var(--font-subtitle);

  --text-md: 16px/140% var(--font-text);
  --text-sm: 14px/140% var(--font-text);


}

body {
  font: var(--text-md);
  
}