* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*Cores Principais*/
  --red-color: #E3646E;
  --purple-color: #BB72E9;
  --blue-color: #3996DB;
  --green-color: #82BC4F;
  --yellow-color: #EABD5F;


  /*Base*/
  --base-gray-100: #0D0E11;
  --base-gray-200: #16181D;
  --base-gray-300: #292C34;
  --base-gray-400: #878EA1;
  --base-gray-500: #C0CACE;
  --base-gray-600: #E2E4E9;


  /*Fontes*/
  --font-family-asap: "Asap", sans-serif;
  --font-family-inconsolata: "Inconsolata", monospace;
  --font-family-maven-pro: "Maven Pro", sans-serif;

  --h1: 800 3rem/120% var(--font-family-asap);
  --h2: 800 1.5rem/120% var(--font-family-asap);
  --h3: 800 1rem/120% var(--font-family-asap);
  --text-lg: 400 1.25rem/120% var(--font-family-inconsolata);
  --text: 400 1rem/140% var(--font-family-maven-pro);
  --text-sm: 400 0.875rem/140% var(--font-family-maven-pro);


}

body {
  background-color: var(--gray-100);
  
}

header {
  background-image: url(../assets/Background_Intro.png);
  background-size: cover;
  background-repeat: no-repeat;

  position: relative;
}

header.container {
  padding: 6.25rem 1.5rem;
  display: block;
}