.infoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.mainInfo {
  max-width: 42.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.profile {
  width: 8.125rem;
  height: 8.125rem;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  width: 7.5rem;
  height: 7.5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;

  display: flex;
  
  border: 2px solid var(--red-color);
  padding: 0.25rem;
  
}

.avatar img {
  border-radius: 50%;
}

.codeIcon {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  right: 2px;
  bottom: 1px;

  & img {
    width: 100%;
    aspect-ratio: 10/9;
  }
}

.textInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

   & title {
    display: block;
  }

  h1 {
    font: var(--h1);
    color: var(--base-gray-600);
    margin-block: 0.5rem 1.25rem;
  }

  p {
    font: var(--text-sm);
    color: var(--base-gray-400);
  }
}

.tagsInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  min-height: 2.5rem;

  .tag {
    width: max-content;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--base-gray-300);
    border-radius: 999px;
    padding: 0.5rem 1rem;

    img {
      width: 1.5rem;
      height: 1.5rem;
    }

    span {
      font: var( --text);
      color: var(--base-gray-500);
    }
  }

}

.caretDoubleDown {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 50%;
  bottom: 1.5rem;
  transform: translateX(-50%);
}

@media (width >= 80em) {
  .infosWrapper {
    gap: 5rem;
  }

  .mainInfos {
    gap: 3.5rem;
  }

  .profile {
    width: 6.875rem;
    height: 6.875rem;
  }

  .avatar {
    width: 6.25rem;
    height: 6.25rem;
  }

  .codeIcon {
    width: 2rem;
    height: 2rem;
  }

  .caretDoubleDown {
    bottom: 3.5625rem;
  }
}